[submodule "libs/ObjektRT.Core"]
	path = libs/ObjektRT.Core
	url = https://git.finite.ovh/ObjektRT.Core
[submodule "libs/Objekt-RT"]
	path = libs/Objekt-RT
	url = https://git.finite.ovh/Objekt-RT
[submodule "libs/Stdlib"]
	path = libs/Stdlib
	url = https://github.com/OpenStudioCorp/ObjectRT.Stdlib
[submodule "libs/ContractStdlib"]
	path = libs/ContractStdlib
	url = https://github.com/Fy-nite/ObjekRT-stdlib.git
