[submodule "libs/ObjektRT.Core"]
	path = libs/ObjektRT.Core
	url = https://github.com/Fy-nite/ObjektRT.Core
[submodule "libs/Objekt-RT"]
	path = libs/Objekt-RT
	url = https://github.com/Fy-nite/Objekt-RT
[submodule "libs/Stdlib"]
	path = libs/Stdlib
	url = https://github.com/OpenStudioCorp/ObjectRT.Stdlib
